/* .body{
    
    width: 100%;
    font-family: arial, sans-serif;
    color: green;
    background-color: grey;
    /* background-image: cover; */

/* }
img {
    width: 100%;
    height: 100%;
 opacity: 1.3;
} */